<main class="grow">
    <!--hero-->
    <section class="relative">
        <div class="md:px-6 px-4 max-w-6xl relative mx-auto">
            <div class="lg:pb-20 lg:pt-40 pb-12 pt-32 relative">
                <!--content-->
                <div class="lg:pb-16 text-center pb-12 max-w-3xl mx-auto">
                    <h1 class="animate-fadein mb-8 lg:text-6xl text-5xl font-bold tracking-tighter text-gray-200">Keep track of every important detail</h1>
                    <p class="text-gray-400 animate-fadein text-xl">Every feature in Open PRO makes things easy to build, pleasant to create, and simple to manage.</p>
                </div>
                <!--image-->
                <img src="./assets/job-5382501_1920.jpg" class="animate-fadein mx-auto block align-middle object-cover" width="768" height="432" alt="Hero">
            </div>
        </div>
    </section>
    <!--stats-->
    <section>
        <div class="max-w-6xl mx-auto px-4 lg:px-6">
            <div class="pb-12 lg: pb-20">
                <!--section head-->
                <div class="max-w-3xl mx-auto text-center pb-12 lg:pb-16">
                    <h1 class="mb-4 lg:text-4xl text-3xl font-bold tracking-tight text-gray-200">Integrated workflow designed for product teams</h1>
                    <p class="text-xl text-gray-400">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
                </div>
                <div class="lg:py-8 lg:px-0 lg:grid-cols-3 text-center px-6 grid bg-zinc-800">
                    <!--1st item-->
                    <div class="lg:px-8 lg:py-0 py-6">
                        <div class="animate-fadein tracking-tight font-semibold text-5xl mb-2 text-yellow-500">156k</div>
                        <div class="animate-fadein text-lg text-gray-400">Lorem ipsum is placeholder text commonly used.</div>
                    </div>
                    <!--2nd item-->
                    <div class="lg:px-8 lg:py-0 py-6 border-x border-zinc-700">
                        <div class="animate-fadein tracking-tight font-semibold text-5xl mb-2 text-yellow-500">112%</div>
                        <div class="animate-fadein text-lg text-gray-400">Lorem ipsum is placeholder text commonly used.</div>
                    </div>
                    <!--3rd item-->
                    <div class="lg:px-8 lg:py-0 py-6">
                        <div class="animate-fadein tracking-tight font-semibold text-5xl mb-2 text-yellow-500">$76k</div>
                        <div class="animate-fadein text-lg text-gray-400">Lorem ipsum is placeholder text commonly used.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--features zigzag-->
    <section>
        <div class="max-w-6xl mx-auto px-4 md:px-6">
            <div class="py-12 lg:py-20 border-t border-gray-800">
                <!--section head-->
                <div class="max-w-3xl mx-auto text-center pb-12 lg:pb-16">
                    <div class="inline-flex text-md font-semibold py-1 px-3 m-2 text-green-700 bg-green-200 rounded-full mb-4">Reach goals that matter</div>
                    <h1 class="mb-4 lg:text-4xl text-3xl font-bold tracking-tighter text-gray-200">One product, unlimited solutions</h1>
                    <p class="text-gray-400 text-xl">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
                </div>
                <!--items-->
                <div class="gap-20 grid">
                    <!--1st item-->
                    <div class="lg:gap-6 lg:grid-cols-12 lg:grid items-center">
                        <!--image-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-5 xl:col-span-6 mb-8 lg:mb-0 lg:order-1 animate-fadein">
                            <img src="./assets/interview-4835116_1920.jpg" class="lg:max-w-none max-w-full h-auto mx-auto block align-middle object-cover" width="540" height="405">
                        </div>
                        <!--content-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-7 xl:col-span-6 animate-fadein">
                            <div class="xl:pr-12 lg:pr-4">
                                <div class="text-yellow-500 text-md font-rock-salt mb-2">More speed. Less spend.</div>
                                <h3 class="mb-3 text-3xl font-semibold text-gray-200">Keep projects on schedule</h3>
                                <p class="text-xl text-gray-400 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Duis autr irure dolor in reprehenderit</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Excepteur sint occaecat</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Amet consectetur adipiscing elit</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--2nd item-->
                    <div class="lg:gap-6 lg:grid-cols-12 lg:grid items-center">
                        <!--image-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-6 xl:col-span-6 mb-8 lg:mb-0 animate-fadein">
                            <img src="./assets/startup-849804_1920.jpg" class="lg:max-w-none max-w-full h-auto mx-auto block align-middle object-cover" width="540" height="405">
                        </div>
                        <!--content-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-6 xl:col-span-6 animate-fadein">
                            <div class="xl:pr-12 lg:pr-4">
                                <div class="text-yellow-500 text-md font-rock-salt mb-2">More speed. Less spend.</div>
                                <h3 class="mb-3 text-3xl font-semibold text-gray-200">Keep projects on schedule</h3>
                                <p class="text-xl text-gray-400 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Duis autr irure dolor in reprehenderit</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Excepteur sint occaecat</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Amet consectetur adipiscing elit</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--3rd item-->
                    <div class="lg:gap-6 lg:grid-cols-12 lg:grid items-center">
                        <!--image-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-5 xl:col-span-6 mb-8 lg:mb-0 lg:order-1 animate-fadein">
                            <img src="./assets/office-616005_1920.jpg" class="lg:max-w-none max-w-full h-auto mx-auto block align-middle object-cover" width="540" height="405">
                        </div>
                        <!--content-->
                        <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-7 xl:col-span-6 animate-fadein">
                            <div class="xl:pr-12 lg:pr-4">
                                <div class="text-yellow-500 text-md font-rock-salt mb-2">More speed. Less spend.</div>
                                <h3 class="mb-3 text-3xl font-semibold text-gray-200">Keep projects on schedule</h3>
                                <p class="text-xl text-gray-400 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Duis autr irure dolor in reprehenderit</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Excepteur sint occaecat</span>
                                    </li>
                                    <li class="items-center flex mb-2">
                                        <span class="text-green-500 shrink-0 mr-2 block align-middle">&#x2713;</span>
                                        <span>Amet consectetur adipiscing elit</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--features block-->
    <section>
        <div class="max-w-6xl mx-auto px-4 md:px-6">
            <div class="py-12 lg:py-20 border-t border-gray-800">
                <!--section head-->
                <div class="lg:pb-20 text-center pb-12 max-w-3xl mx-auto">
                    <h2 class="text-gray-200 mb-4 lg:text-4xl text-3xl font-bold tracking-tight">The majority of our customers do not understand their workflows</h2>
                    <p class="text-gray-400 text-xl">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <!--items-->
                <div class="lg:gap-16 lg:grid-cols-3 lg:max-w-none md:grid-cols-2 md:max-w-xl gap-8 items-start max-w-sm grid mx-auto">
                    <!--1st item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-star flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                    <!--2nd item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-address-card-o flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                    <!--3rd item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-globe flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                    <!--4th item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-user flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                    <!--5th item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-thumbs-up flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                    <!--6th item-->
                    <div class="relative flex flex-col items-center animate-fadein">
                        <span class="w-16 h-16 mb-4 block align-middle bg-yellow-500 rounded-full"><i class="fa fa-commenting flex items-center justify-center w-full h-full text-3xl text-black"></i></span>
                        <h4 class="mb-2 text-2xl text-gray-200 font-bold tracking-tight">Instant Features</h4>
                        <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--case studies-->
    <section>
        <div class="max-w-6xl mx-auto px-4 md:px-6">
            <div class="lg:py-20 py-12 border-t border-gray-800">
                <!--section head-->
                <div class="lg:pb-20 text-center pb-12 max-w-3xl mx-auto">
                    <h2 class="mb-4 lg:text-4xl text-3xl font-bold tracking-tight text-gray-200">Integrated workflow designed for product teams</h2>
                    <p class="text-gray-400 text-xl">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
                </div>
                <!--articles-->
                <div class="lg:gap-6 md:gap-6 md:grid-cols-3 lg:max-w-none gap-8 items-start max-w-sm grid mx-auto">
                    <!--1st article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <a href=""
                            class="block">
                            <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                <img src="./assets/woman-6734444_1920.jpg" class="absolute top-0 right-0 left-0 bottom-0 w-full h-full object-cover hover:scale-125 transition duration-700">
                                <figcaption class="absolute top-0 right-0 mt-4 mr-4 text-sm font-semibold inline-flex text-center text-white py-1 px-3 rounded-full bg-black bg-opacity-60">Case study</figcaption>
                            </figure>
                        </a>
                        <div class="grow flex flex-col h-full p-6 bg-zinc-800">
                            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-200">
                                <a href="">How to build anything</a>
                            </h3>
                            <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                            <div>
                                <a href=""
                                    class="px-4 py-2 inline-flex items-center font-bold text-black bg-yellow-500 mt-6">
                                    <span class="text-sm">Learn more</span>
                                    <i class="fa fa-arrow-right ml-2 text-sm"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <!--2nd article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <a href=""
                            class="block">
                            <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                <img src="./assets/interview-4835116_1920.jpg" class="absolute top-0 right-0 left-0 bottom-0 w-full h-full object-cover hover:scale-125 transition duration-700">
                                <figcaption class="absolute top-0 right-0 mt-4 mr-4 text-sm font-semibold inline-flex text-center text-white py-1 px-3 rounded-full bg-black bg-opacity-60">Case study</figcaption>
                            </figure>
                        </a>
                        <div class="grow flex flex-col h-full p-6 bg-zinc-800">
                            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-200">
                                <a href="">How to build anything</a>
                            </h3>
                            <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                            <div>
                                <a href=""
                                    class="px-4 py-2 inline-flex items-center font-bold text-black bg-yellow-500 mt-6">
                                    <span class="text-sm">Learn more</span>
                                    <i class="fa fa-arrow-right ml-2 text-sm"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <!--3rd article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <a href=""
                            class="block">
                            <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                <img src="./assets/job-5382501_1920.jpg" class="absolute top-0 right-0 left-0 bottom-0 w-full h-full object-cover hover:scale-125 transition duration-700">
                                <figcaption class="absolute top-0 right-0 mt-4 mr-4 text-sm font-semibold inline-flex text-center text-white py-1 px-3 rounded-full bg-black bg-opacity-60">Case study</figcaption>
                            </figure>
                        </a>
                        <div class="grow flex flex-col h-full p-6 bg-zinc-800">
                            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-200">
                                <a href="">How to build anything</a>
                            </h3>
                            <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                            <div>
                                <a href=""
                                    class="px-4 py-2 inline-flex items-center font-bold text-black bg-yellow-500 mt-6">
                                    <span class="text-sm">Learn more</span>
                                    <i class="fa fa-arrow-right ml-2 text-sm"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--cta-->
    <section>
        <div class="max-w-6xl mx-auto px-4 md:px-6 relative">
            <div class="lg:pt-20 pt-12 border-t border-gray-800">
                <div class="lg:pb-16 text-center pb-12 max-w-3xl mx-auto">
                    <!--section header-->
                    <h1 class="aniamte-fadein mb-4 lg:text-4xl text-3xl text-gray-200 font-bold tracking-tight ">Ready to create better products?</h1>
                    <p class="animate-fadein text-xl text-gray-400 mb-8">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consequat.</p>
                    <!--cta button-->
                    <div class="animate-fadein justify-center flex mb-8">
                        <a href=""
                            class="inline-flex items-center justify-center text-md text-black px-8 py-3 bg-yellow-500 hover:bg-yellow-600 transition duration-300 font-semibold">Start free trial</a>
                    </div>
                    <!--checklist-->
                    <ul class="text-gray-400 text-xl justify-center flex-wrap flex -my-1 -mx-2">
                        <li class="flex items-center mx-3 my-1 animate-fadein">
                            <i class="fa fa-check text-green-500 shrink-0 text-lg mr-2"></i>
                            <span class="text-lg">Free 14-day trial</span>
                        </li>
                        <li class="flex items-center mx-3 my-1 animate-fadein">
                            <i class="fa fa-check text-green-500 shrink-0 text-lg mr-2"></i>
                            <span class="text-lg">Unlimited users</span>
                        </li>
                        <li class="flex items-center mx-3 my-1 animate-fadein">
                            <i class="fa fa-check text-green-500 shrink-0 text-lg mr-2"></i>
                            <span class="text-lg">Volume discounts</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

