<!--hero-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6 relative">
        <!--hero content-->
        <div class="relative pt-32 pb-18 lg:pt-40 lg:pb-16">
            <!--section header-->
            <div class="max-w-3xl mx-auto text-center pb-12 lg:pb-16">
                <h1 class="lg:text-5xl text-4xl font-extrabold tracking-tighter mb-6 text-gray-300 animate-fadein">Landing template for startups</h1>
                <p class="text-xl mb-10 text-gray-400 animate-fadein">
                    Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
                </p>
                <div class="max-w-xs mx-auto md:max-w-none md:flex justify-center">
                    <div class="animate-fadein">
                        <a href=""
                            class="inline-flex items-center justify-center font-semibold animate-fadein px-8 py-3 bg-yellow-500 hover:bg-yellow-600 w-full mb-4 md:w-auto md:mb-0">Start free trial</a>
                    </div>
                    <div class="animate-fadein">
                        <a href=""
                            class="inline-flex items-center justify-center font-semibold px-8 py-3 bg-zinc-600 hover:bg-zinc-700 w-full md:w-auto md:ml-4">Learn more</a>
                    </div>
                </div>
            </div>
            <!--hero video-->
            <video src="./assets/Office - 80314.mp4"
                class="relative animate-fadein " controls></video>
        </div>
    </div>
</section>
<!--process-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <div class="pt-10 pb-12 lg:pt-16 lg:pb-20">
            <!--section head-->
            <div class="max-w-3xl mx-auto text-center pb-12 lg:pb-20">
                <h2 class="font-extrabold tracking-tighter mb-4 animate-fadein text-3xl lg:text-4xl text-gray-300">Built exclusively for you</h2>
                <p class="text-xl text-gray-400 animate-fadein">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
            </div>
            <!--items-->
            <div class="max-w-sm mx-auto grid gap-8 lg:grid-cols-3 xl:gap-16 items-start max-w-none">
                <!--1st item-->
                <div class="relative flex flex-col items-center animate-fadein">
                    <div aria-hidden="true" class="absolute h-1 border-t border-dashed border-gray-600 hidden lg:block animate-fadein top-8" style="width:calc(100% - 32px);left:calc(50% + 48px)">
                    </div>
                    <div class="w-16 h-16 mb-4 block align-middle">
                        <div class="bg-yellow-500 rounded-full w-full h-full flex items-center justify-center">
                            <p class="text-2xl font-semibold">1.</p>
                        </div>
                    </div>
                    <h4 class="text-2xl font-semibold tracking-tight mb-2 text-gray-300">Acquisition</h4>
                    <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <!--2nd item-->
                <div class="relative flex flex-col items-center animate-fadein">
                    <div aria-hidden="true" class="absolute h-1 border-t border-dashed border-gray-600 hidden lg:block animate-fadein top-8" style="width:calc(100% - 32px);left:calc(50% + 48px)"></div>
                    <div class="w-16 h-16 mb-4 block align-middle">
                        <div class="bg-yellow-500 rounded-full w-full h-full flex items-center justify-center">
                            <p class="text-2xl font-semibold">2.</p>
                        </div>
                    </div>
                    <h4 class="text-2xl font-semibold tracking-tight mb-2 text-gray-300">Activation</h4>
                    <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <!--3rd item-->
                <div class="relative flex flex-col items-center animate-fadein">
                    <div class="w-16 h-16 mb-4 block align-middle">
                        <div class="bg-yellow-500 rounded-full w-full h-full flex items-center justify-center">
                            <p class="text-2xl font-semibold">2.</p>
                        </div>
                    </div>
                    <h4 class="text-2xl font-semibold tracking-tight mb-2 text-gray-300">Retention</h4>
                    <p class="text-gray-400 text-lg text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--features-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <div class="py-12 lg:py-20 border-t border-gray-700">
            <!--items-->
            <div class="grid gap-20">
                <!--item-->
                <div class="grid lg:grid-cols-12 lg:gap-6 items-center">
                    <!--img-->
                    <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-5 xl:col-span-6 mb-8 lg:mb-0 lg:order-1 animate-fadein">
                        <div class="relative">
                            <img src="./assets/job-1845954.png" class="max-w-none" width="540" height="520">
                        </div>
                    </div>
                    <!--content-->
                    <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-7 xl:col-span-6 animate-fadein">
                        <div class="lg:pr-4 xl:pr-12">
                            <div class="font-rock-salt text-md text-yellow-500">Lightning fast workflow</div>
                            <h3 class="my-3 text-3xl font-bold text-gray-300">Say hello to research data</h3>
                            <p class="text-xl text-gray-400 mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                            <ul class="flex flex-wrap text-lg text-gray-400 -mx-2 -my-1">
                                <li class="flex items-center mx-2 mt-1">
                                    <p class="text-green-500 mr-2 shrink-0">&#x2713;</p>
                                    <span>Premium statistics</span>
                                </li>
                                <li class="flex items-center mx-2 mt-1">
                                    <p class="text-green-500 mr-2 shrink-0">&#x2713;</p>
                                    <span>Unlimited jobs</span>
                                </li>
                                <li class="flex items-center mx-2 mt-1">
                                    <p class="text-green-500 mr-2 shrink-0">&#x2713;</p>
                                    <span>Free goods</span>
                                </li>
                                <li class="flex items-center mx-2 mt-1">
                                    <p class="text-green-500 mr-2 shrink-0">&#x2713;</p>
                                    <span>No code required</span>
                                </li>
                                <li class="flex items-center mx-2 mt-1">
                                    <p class="text-green-500 mr-2 shrink-0">&#x2713;</p>
                                    <span>Always up to date</span>
                                </li>
                            </ul>
                            <div class="flex items-start mt-8">
                                <img class="rounded-full shrink-0 mr-4 block align-middle h-10 w-10 object-cover" src="./assets/woman-4644496_1920.jpg">
                                <div>
                                    <blockquote class="text-gray-400 italic mb-3">"Lorem ipsum is placeholder text commonly used in  graphics, prints, and publishing."</blockquote>
                                    <div class="text-gray-600 font-semibold">
                                        <cite class="text-gray-200">- Isabella Davis</cite>
                                        -
                                        <a href=""
                                            class="text-yellow-500 hover:text-gray-200 transition duration-200">UX Board</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--tabs-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <div class="py-12 lg:py-20 border-t border-gray-600">
            <!--section head-->
            <div class="max-w-3xl mx-auto text-center pb-12">
                <h2 class="text-3xl lg:text-4xl text-gray-300 font-bold tracking-tight animate-fadein mb-4">Integrated workflow design for product teams</h2>
                <p class="text-xl text-gray-400 animate-fadein">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
            </div>
            <!--section content-->
            <div>
                <!--tabs-->
                <div class="flex flex-wrap justify-center -m-2 animate-fadein">
                    <button class="flex items-center font-semibold py-2 px-4 m-2 rounded-full transition duration-500 bg-zinc-700 text-gray-300 hover:text-gray-100 duration-300">
                        <span class="w-4 h-4 mb-2 mr-2 text-yellow-500">&#10029;</span>
                        <span>Quick action</span>
                    </button>
                    <button class="flex items-center font-semibold py-2 px-4 m-2 rounded-full transition duration-500 bg-zinc-700 text-gray-300 hover:text-gray-100 duration-300">
                        <span class="w-4 h-4 mb-2 mr-2 text-yellow-500">&#10029;</span>
                        <span>Quick action</span>
                    </button>
                    <button class="flex items-center font-semibold py-2 px-4 m-2 rounded-full transition duration-500 bg-zinc-700 text-gray-300 hover:text-gray-100 duration-300">
                        <span class="w-4 h-4 mb-2 mr-2 text-yellow-500">&#10029;</span>
                        <span>Quick action</span>
                    </button>
                    <button class="flex items-center font-semibold py-2 px-4 m-2 rounded-full transition duration-500 bg-zinc-700 text-gray-300 hover:text-gray-100 duration-300">
                        <span class="w-4 h-4 mb-2 mr-2 text-yellow-500">&#10029;</span>
                        <span>Quick action</span>
                    </button>
                    <button class="flex items-center font-semibold py-2 px-4 m-2 rounded-full transition duration-500 bg-zinc-700 text-gray-300 hover:text-gray-100 duration-300">
                        <span class="w-4 h-4 mb-2 mr-2 text-yellow-500">&#10029;</span>
                        <span>Quick action</span>
                    </button>
                </div>
                <!--content-->
                <div class="relative flex flex-col mt-12 animate-fadein">
                    <div class="w-full">
                        <article class="relative max-w-md mx-auto lg:max-w-none">
                            <figure class="lg:absolute lg:top-0 lg:bottom-0 lg:right-0 lg:w-2/4">
                                <img src="./assets/job-5382501_1920.jpg" class="w-full h-full object-cover" width="516" height="387">
                            </figure>
                            <div class="relative bg-zinc-800 py-8 lg:py-16 px-6 lg:pr-1 lg:max-w-lg xl:max-w-xl">
                                <h4 class="text-2xl font-bold tracking-tight text-gray-200 mb-2">Optimize and scale, easy to start</h4>
                                <p class="text-lg text-gray-400 pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <a href=""
                                    class="inline-flex items-center justify-center font-semibold px-4 py-2 text-black bg-yellow-500 hover:bg-yellow-600 transition duration-300 mt-6">
                                    <span class="text-md">Learn More</span>
                                    <span>&#8594;</span>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--target-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <div class="py-12 lg:py-20 border-t border-gray-600">
            <!--section head-->
            <div class="max-w-3xl mx-auto text-center pb-10 lg:pb-20">
                <h2 class="text-3xl lg:text-4xl text-gray-200 font-bold tracking-tight animate-fadein">From the big picture to every tiny detail, we got you covered.</h2>
            </div>
            <!--items-->
            <div class="grid gap-20">
                <!--item-->
                <div class="lg:grid lg:grid-cols-12 lg:gap-8 items-center">
                    <!--image-->
                    <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-6 xl:col-span-6 mb-8 lg:mb-0 animate-fadein">
                        <img src="./assets/startup-849804_1920.jpg" class="mx-auto lg:max-w-none" width="540" height="520">
                    </div>
                    <!--content-->
                    <div class="max-w-xl lg:max-w-none lg:w-full mx-auto lg:col-span-6 xl:col-span-6">
                        <div class="lg:pl-4 xl:pl-12">
                            <div class="font-rock-salt text-md text-yellow-500 mb-2 animate-fadein">Be the change you want to see</div>
                            <div class="mt-6 animate-fadein">
                                <h4 class="text-2xl font-semibold tracking-tight text-xl text-gray-200">
                                    <span class="text-yellow-500">.</span>
                                    For developers
                                </h4>
                                <p class="text-xl text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="mt-6 animate-fadein">
                                <h4 class="text-2xl font-semibold tracking-tight text-xl text-gray-200">
                                    <span class="text-green-500">.</span>
                                    For designers
                                </h4>
                                <p class="text-xl text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="mt-6 animate-fadein">
                                <h4 class="text-2xl font-semibold tracking-tight text-xl text-gray-200">
                                    <span class="text-green-500">.</span>
                                    For teams
                                </h4>
                                <p class="text-xl text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--news-->
<section>
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <div class="py-12 lg:py-20 border-t border-gray-600">
            <!--section head-->
            <div class="max-w-3xl mx-auto text-center pb-12 lg:pb-20">
                <h2 class="text-4xl animate-fadein text-gray-200 font-bold">Refreshing news for developers and designers</h2>
            </div>
            <!--articles list-->
            <div class="max-w-sm mx-auto lg: max-w-none">
                <div class="grid gap-12 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-8 items-start">
                    <!--1st article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <header>
                            <a href=""
                                class="block mb-6">
                                <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                    <img src="./assets/woman-6734444_1920.jpg" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full object-cover animate-fadein" width="352" height="198">
                                </figure>
                            </a>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-sm font-semibold -m-1">
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-yellow-500 hover:bg-yellow-600 animate-fadein">Product</a>
                                    </li>
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-sky-500 hover:bg-sky-600 animate-fadein">Engineering</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="text-2xl font-bold tracking-tight mb-2 text-gray-200">
                                <a href=""
                                    class="animate-fadein">The quick brown fox jumped over the lazy dog.</a>
                            </h3>
                        </header>
                        <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <footer class="flex items-center mt-4">
                            <a href="">
                                <img src="./assets/woman-4644496_1920.jpg" class="rounded-full shrink-0 mr-4 w-10 h-10 object-cover">
                            </a>
                            <div class="font-semibold">
                                <a href=""
                                    class="text-gray-300 hover:text-gray-100 animate-fadein transition duration-300">Isabella Davis</a>
                                <span class="text-gray-700"> - </span>
                                <span class="text-gray-400">Jan 17, 2020</span>
                            </div>
                        </footer>
                    </article>
                    <!--2nd article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <header>
                            <a href=""
                                class="block mb-6">
                                <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                    <img src="./assets/interview-4835116_1920.jpg" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full object-cover animate-fadein" width="352" height="198">
                                </figure>
                            </a>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-sm font-semibold -m-1">
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-pink-500 hover:bg-pink-600 animate-fadein">Design</a>
                                    </li>
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-sky-500 hover:bg-sky-600 animate-fadein">Engineering</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="text-2xl font-bold tracking-tight mb-2 text-gray-200">
                                <a href=""
                                    class="animate-fadein">The quick brown fox jumped over the lazy dog.</a>
                            </h3>
                        </header>
                        <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <footer class="flex items-center mt-4">
                            <a href="">
                                <img src="./assets/smile-2072907_1920.jpg" class="rounded-full shrink-0 mr-4 w-10 h-10 object-cover">
                            </a>
                            <div class="font-semibold">
                                <a href=""
                                    class="text-gray-300 hover:text-gray-100 animate-fadein transition duration-300">Eliza Camelot</a>
                                <span class="text-gray-700"> - </span>
                                <span class="text-gray-400">Jan 12, 2020</span>
                            </div>
                        </footer>
                    </article>
                    <!--3rd article-->
                    <article class="flex flex-col h-full animate-fadein">
                        <header>
                            <a href=""
                                class="block mb-6">
                                <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                                    <img src="./assets/office-616005_1920.jpg" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full object-cover animate-fadein" width="352" height="198">
                                </figure>
                            </a>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-sm font-semibold -m-1">
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-yellow-500 hover:bg-yellow-600 animate-fadein">Product</a>
                                    </li>
                                    <li class="m-1">
                                        <a href=""
                                            class="inline-flex text-center text-black py-1 px-3 rounded-full bg-green-500 hover:bg-green-600 animate-fadein">Tutorials and articles</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="text-2xl font-bold tracking-tight mb-2 text-gray-200">
                                <a href=""
                                    class="animate-fadein">The quick brown fox jumped over the lazy dog.</a>
                            </h3>
                        </header>
                        <p class="text-lg text-gray-400 grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <footer class="flex items-center mt-4">
                            <a href="">
                                <img src="./assets/beard-1845166_1920.jpg" class="rounded-full shrink-0 mr-4 w-10 h-10 object-cover">
                            </a>
                            <div class="font-semibold">
                                <a href=""
                                    class="text-gray-300 hover:text-gray-100 animate-fadein transition duration-300">Michael Brenner</a>
                                <span class="text-gray-700"> - </span>
                                <span class="text-gray-400">Jan 9, 2020</span>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--newsletter-->
<section>
    <div class="md:px-6 px-4 max-w-6xl mx-auto">
        <!--cta box-->
        <div class="animate-fadein lg:px-12 lg:py-16 px-8 py-10 bg-yellow-500">
            <div class="lg:flex-row justify-between items-center flex-col flex relative">
                <!--cta content-->
                <div class="lg:text-left lg:w-2/4 lg:mb-0 lg:mr-20 text-center mb-6">
                    <h3 class="text-black mb-2 text-3xl font-bold tracking-tight">Stay in the loop</h3>
                    <p class="text-black text-lg">Join our newsletter to get top news before anyone else.</p>
                </div>
                <!--cta form-->
                <form class="lg:w-2/4 w-full">
                    <div class="lg:max-w-none md:flex-row md:max-w-md justify-center flex-col max-w-sm flex mx-auto">
                        <input type="email" class="md:mr-2 md:mb-0 bg-yellow-600 py-3 px-4 placeholder:text-yellow-100 border w-full mb-2" placeholder="Your best email...">
                        <a href=""
                            class="px-8 py-3 text-yellow-600 bg-gray-100 hover:bg-white transition duration-300 font-semibold"> Subscribe</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--footer-->
<footer>
    <div class="py-12 lg:py-16">
        <div class="max-w-6xl mx-auto px-4 md:px-6">
            <!--top area blocks-->
            <div class="grid lg:grid-cols-12 gap-8 xl:gap-20 mb-8 lg:mb-12">
                <!--1st block-->
                <div class="xl:col-span-5 lg:col-span-4">
                    <div class="mb-2">
                        <!--logo-->
                        <a href="/"
                            class="inline-block">
                            <img src="./assets/check-305228.png" class="w-8 h-8 block align-middle">
                        </a>
                    </div>
                    <div class="text-gray-400">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                    </div>
                </div>
                <!--2nd, 3rd, 4th blocks-->
                <div class="xl:col-span-7 lg:col-span-8 md:grid-cols-3 gap-8 grid">
                    <!--2nd block-->
                    <div class="text-sm">
                        <h6 class="text-gray-300 font-semibold mb-1">Products</h6>
                        <ul>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Web Studio</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">DynamicBox Flex</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Programming Forms</a>
                            </li>
                        </ul>
                    </div>
                    <!--3rd block-->
                    <div class="text-sm">
                        <h6 class="text-gray-300 font-semibold mb-1">Resources</h6>
                        <ul>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Visual Mockups</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Visual Mockups</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                        </ul>
                    </div>
                    <!--4th block-->
                    <div class="text-sm">
                        <h6 class="text-gray-300 font-semibold mb-1">Company</h6>
                        <ul>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Visual Mockups</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Visual Mockups</a>
                            </li>
                            <li class="mb-1">
                                <a href=""
                                    class="text-gray-400 hover:text-gray-200 transition duration-300">Nostrud Exercitation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--bottom area-->
            <div class="lg:justify-between lg:items-center lg:flex">
                <!--social links-->
                <ul class="lg:mb-0 lg:ml-4 lg:order-1 flex mb-4">
                    <li>
                        <a href=""
                            class="text-yellow-500 bg-zinc-800 rounded-full flex justify-center items-center p-2 h-10 w-10 text-xl hover:text-gray-100 hover:bg-yellow-500 transition duration-300">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="ml-4">
                        <a href=""
                            class="text-yellow-500 bg-zinc-800 rounded-full flex justify-center items-center p-2 h-10 w-10 text-xl hover:text-gray-100 hover:bg-yellow-500 transition duration-300">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="ml-4">
                        <a href=""
                            class="text-yellow-500 bg-zinc-800 rounded-full flex justify-center items-center p-2 h-10 w-10 text-xl hover:text-gray-100 hover:bg-yellow-500 transition duration-300">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="ml-4">
                        <a href=""
                            class="text-yellow-500 bg-zinc-800 rounded-full flex justify-center items-center p-2 h-10 w-10 text-xl hover:text-gray-100 hover:bg-yellow-500 transition duration-300">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="ml-4">
                        <a href=""
                            class="text-yellow-500 bg-zinc-800 rounded-full flex justify-center items-center p-2 h-10 w-10 text-xl hover:text-gray-100 hover:bg-yellow-500 transition duration-300">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <!--copyright notice-->
                <div class="text-gray-400 text-sm mr-4">© Startup Company. All rights reserved</div>
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
