<div class="w-full h-full bg-slate-900 font-inter pt-16 flex justify-center">
    <div class="w-[55%] text-center">
        <p class="text-5xl lg:text-6xl text-gray-300 font-bold tracking-tighter my-4">Landing template for startups</p>
        <p class="text-lg lg:text-xl text-gray-500 my-8">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
        <div>
            <button class="text-black font-semibold bg-yellow-500 hover:bg-yellow-600 text-l px-4 md:px-5 py-2 md:py-2 5 mr-2">Free trial</button>
            <button class="text-black font-semibold bg-gray-500 hover:bg-gray-600 text-l px-4 md:px-5 py-2 md:py-2 5 mr-2">Learn More</button>
        </div>
    </div>
</div>
