<header class="bg-slate-900">
    <nav class="px-4 md:px-6 py-4">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl font-inter">
            <!--logo-->
            <a href="/" class="flex items-center">
                <img src="./assets/check-305228.png" class="mr-3 h-6" />
                <p class="text-yellow-500 text-2xl tracking-tighter">The Startup Company</p>
            </a>
            <!--right buttons-->
            <div class="hidden md:flex items-center lg:order-2">
                <a href=""
                    class="text-yellow-500 hover:text-white duration-300 transition text-l rounded-lg px-4 font-semibold md:px-5 py-2 md:py-2 5 mr-2">Log
                    in</a>
                <a href=""
                    class="text-black font-semibold bg-yellow-500 hover:bg-yellow-600 text-l px-4 md:px-5 py-2 md:py-2 5 mr-2">Get started</a>
            </div>
            <!--hamburger-->
            <div class="hamburger relative inline-block mr-6 text-gray-300 lg:hidden">
                <input type="checkbox" class="checkbox-trigger w-8 h-8 absolute z-10 opacity-0 cursor-pointer -mt-2">
                <label for="checkbox-trigger" class="ham-menu space-y-2">
                    <span class="ham1 block w-8 h-0.5 bg-white duration-300"></span>
                    <span class="ham2 block w-8 h-0.5 bg-white duration-300"></span>
                    <span class="ham3 block w-8 h-0.5 bg-white duration-300"></span>
                </label>
                <ul
                    class="ham-menu overflow-hidden absolute bg-gray-800 flex flex-col px-4 py-4 right-0 w-52 mt-4 origin-top">
                    <li><a href="" class="block py-2 pr-4 pl-3 hover:text-gray-100">Features</a></li>
                    <li><a href="" class="block py-2 pr-4 pl-3 hover:text-gray-100">Pricing</a></li>
                    <li><a href="" class="block py-2 pr-4 pl-3 hover:text-gray-100">About Us</a></li>
                    <li><a href="" class="block py-2 pr-4 pl-3 hover:text-gray-100">Blog</a></li>
                    <span class="h-[1px] bg-gray-700 my-2"></span>
                    <li>
                        <p class="block py-2 pr-4 pl-3">More</p>
                    </li>
                    <li><a href="" class="block py-2 pr-4 pl-8 text-sm  hover:text-gray-100">Contact Us</a></li>
                    <li><a href="" class="block py-2 pr-4 pl-8 text-sm hover:text-gray-100">Help Center</a></li>
                    <li><a href="" class="block py-2 pr-4 pl-8 text-sm hover:text-gray-100">404</a></li>
                    <span class="h-[1px] bg-gray-700 my-2 md:hidden"></span>
                    <ul class="text-center space-y-4 md:hidden">
                        <li><a href=""
                                class="text-yellow-500 hover:text-gray-100 mt-6">Log in</a></li>
                        <li><a href=""
                                class="my-2 w-full flex justify-center text-white bg-yellow-600 hover:bg-yellow-700 p-2">Get started</a></li>
                    </ul>
                </ul>
            </div>
            <!--hamburger end-->
            <!--nav menu-->
            <div class="hidden relative justify-between items-center w-full lg:flex w-auto md:order-1">
                <ul class="flex flex-row space-x-8">
                    <li><a href=""
                            class="block text-gray-300 hover:text-gray-100">Features</a></li>
                    <li><a href=""
                            class="block text-gray-300 hover:text-gray-100">Pricing</a></li>
                    <li><a href=""
                            class="block text-gray-300 hover:text-gray-100">About Us</a></li>
                    <li><a href=""
                            class="block text-gray-300 hover:text-gray-100">Blog</a></li>
                    <div class="dropdown float-right">
                        <button class="block py-2 pr-4 pl-3 text-gray-300 hover:text-gray-100 lg:p-0">More&#11167;</button>
                        <ul class="dropdown-menu origin-top absolute block py-4 px-6 bg-slate-700 text-white min-w-[160px] space-y-4">
                            <li><a href=""
                                    class="block py-2 pr-4 pl-3 text-gray-300 hover:text-yellow-500 lg:p-0">Contact Us</a></li>
                            <li><a href=""
                                    class="block py-2 pr-4 pl-3 text-gray-300 hover:text-yellow-500 lg:p-0">404</a></li>
                            <li><a href=""
                                    class="block py-2 pr-4 pl-3 text-gray-300 hover:text-yellow-500 lg:p-0">Help</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
