@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.checkbox-trigger:checked + .ham-menu .ham1 {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
}

.checkbox-trigger:checked + .ham-menu .ham2 {
    opacity: 0;
}

.checkbox-trigger:checked + .ham-menu .ham3 {
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
}

.ham-menu, .dropdown-menu {
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.checkbox-trigger:checked ~ .ham-menu,
.dropdown:hover .dropdown-menu {
    transform: scaleY(1);
}
